<h1>Welcome to My Todo!</h1>

<div>
  <p>My Todoへようこそ。</p>
  <p>あなたの「やること」をリスト化し、</p>
  <p>やるべきことの抜け漏れをなくしましょう！</p>
</div>

<div>
  <%= link_to 'ログイン', new_user_session_path %>
  または
  <%= link_to '新規登録', new_user_registration_path %>
</div>
