<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <div>
    <h3>ID</h3>
    <h3>Nickname</h3>
  </div>
  <div>
    <%= user.id %>
    <%= link_to user_path(user.id) do %>
      <%= user.nickname %>
    <% end %>
  </div>
<% end %>