<h1>Your Todos</h1>

<div>
  <h3>Todoタイトル</h3>
  <h3>重要度</h3>
</div>
<% @todos.each do |todo| %>
  <div>
    <%= link_to todo_path(todo.id) do %>
      <%= todo.title %>
    <% end %>
    <!--<%= todo.body %>-->
    <%= todo.importance_i18n %>
  </div>
<% end %>