<%# <h1>Public::Users#unsubscribe</h1>
<p>Find me in app/views/public/users/unsubscribe.html.erb</p> %>
<h1>退会確認</h1>

<div>
  <p>退会すると作成したTodoや達成率等</p>
  <p>あなたに関するアプリの情報が失われます。</p>
  <p>本当に退会しますか？</p>
</div>

<%= link_to "戻る", edit_user_path(current_user) %>
<%= link_to "退会する", withdrawal_path(current_user), method: :patch, "data-confirm" => "本当に退会しますか？" %>